.user-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	width: 1170px;
	margin: auto;
	margin-top: 20px;
}

.user-found {
	width: 1170px;
	padding: 20px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 20px;
	border-radius: 10px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}